[submodule "src/hs_utils"]
	path = src/hs_utils
	url = git@github.com:renatosamperio/hs_utils.git
[submodule "src/torrent_search"]
	path = src/torrent_search
	url = git@github.com:renatosamperio/torrent_search.git
	branch = develop
[submodule "src/imdb_collector"]
	path = src/imdb_collector
	url = git@github.com:renatosamperio/imdb_collector.git
	branch = develop
[submodule "src/events_msgs"]
	path = src/events_msgs
	url = git@github.com:renatosamperio/events_msgs.git
	branch = develop
[submodule "src/event_locator"]
	path = src/event_locator
	url = git@github.com:renatosamperio/event_locator.git
	branch = develop
[submodule "src/movie_catalog"]
	path = src/movie_catalog
	url = git@github.com:renatosamperio/movie_catalog.git
